.btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

.category-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.category-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.category-list {
  margin-top: 30px;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.category-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-item h5 {
  margin: 0;
  font-size: 18px;
}

.category-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.category-actions button {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.category-actions .btn-warning {
  background-color: #ffc107;
  color: white;
}

.category-actions .btn-danger {
  background-color: #dc3545;
  color: white;
}

.category-actions .btn:hover {
  opacity: 0.8;
}

.category-item .income-type {
  color: #28a745;
  font-weight: bold;
}

.category-item .expense-type {
  color: #dc3545;
  font-weight: bold;
}
.transaction-list {
  padding: 2rem;
  font-family: "Arial", sans-serif;
}

.transactions-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.transactions-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.total-balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 20px;
}

.transactions-list {
  list-style-type: none;
  padding-left: 0;
}

.transaction-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.transaction-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-date {
  font-size: 16px;
  color: #555;
}

.transaction-category {
  font-size: 16px;
  color: #555;
}

.transaction-amount {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.transaction-amount.income {
  color: green;
}

.transaction-amount.expense {
  color: red;
}

.loading {
  color: #007bff;
  font-size: 16px;
}

.error {
  color: red;
  font-size: 16px;
}
